body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #dba1c8;
    color: #333;
}

h1,
h2 {
    text-align: center;
    align-items: center;
}

header {
    background-color: #ae436c;
    color: white;
    text-align: center;
    padding: 1.5em;
}

ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

ul li {
    text-decoration: none;
    margin: 5px;
    padding: 2px;
    text-align: center;
}

.container {
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 2em;
    flex-wrap: wrap;
}

section {
    margin: 20px;
    background: rgb(236, 140, 191);
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 40%;
    min-width: 300px;
    align-items: center;

}

input {
    background-color: bisque;
    color: rgb(80, 9, 43);
    margin: 5px;
    padding: 2px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

div {
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
}

div p {
    margin: 5px;
    padding: 5px;
    background-color: #ae436c;
    margin-bottom: 20px;
}